<div class = 'message'>
<%= login_message %>


<div class = 'message'>
<% form_tag :controller => 'sessions', :action => 'create', :l => @l do -%>
<p><label for="login">Login</label><br>
<%= text_field_tag 'login', params[:login], :class => 'textfield' %></p>

<p><label for="password">Passwort</label><br>
<%= password_field_tag 'password', params[:password], :class => 'textfield' %></p>


<p><label for="remember_me">Auf diesem Computer merken:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'einloggen', :id => 'loginbutton', :class => 'button' %></p>

<p><%= link_to "Passwort vergessen?", forgot_password_url(:l => @l) -%></p>

<% end -%>
<p>or login with your Facebook account  
<%= fb_login_button 'window.location = "/users/link_user_accounts";', :size => :medium,:length => :long, :background => :dark%>
</p>

<p><b><%= link_to 'Als neuer Benutzer anmelden!', :controller => 'users', :action => 'new', :l => @l %></b></p>
</div>

</div>
