
<div class="haufen">

<% div_for(haufen) do %>
<% top_stories= haufen.top_story_ids.split(',')[0,3] %>
  <% @haufen_story = Rawstory.find(haufen.latest) %>
<% @second_story = Rawstory.find(top_stories[1])  %> 
<% @third_story  = Rawstory.find(top_stories[2]) if top_stories[2] != nil %>

  <% image_story =  haufen.image_exists ? (haufen.image_story || @haufen_story ) : nil %>
  <%= render :partial => '/rawstories/super_rawstory', :locals => {:rawstory => @haufen_story,
													:show_image => haufen.image_exists, 
                                                    :image_src  => "/haufens/image/#{haufen.id}",
                                                    :image_story => image_story}%>



<%= render :partial => '/rawstories/related_rawstory', :locals =>{:rawstory=> @second_story} %>

<%= render :partial => '/rawstories/related_rawstory', :locals =>{:rawstory=> @third_story} if top_stories[2] != nil %>

<div class="cluster">
  <span class="source">
   
      <%= link_to haufen_label(@haufen_story), :controller => 'haufens', :action => 'show', :id => haufen, :l => @l %> 
      <% unless haufen.videos == nil %>
        <% if haufen.videos > 0 %>
      - 	<%= link_to video_label(@haufen_story), :controller => 'haufens', :action => 'filter_haufen_by_videos', :id => haufen, :l => @l %> 	
        <% end %>
     	
    <% end %>
  </span>
</div>
</div>


<% end %>
