<% cache ({:l => @l, :page => params[:page] || 1}) do %>

<div class="pagelabel">
<%= haufens_label %>

<%  if params[:action] == 'show' %>
	<% if @opinion_weight > 0 or @videos_weight > 0  %>	
		 ( <%= show_all_label %>
		 <% if @opinion_weight > 0 %>	
		- <%= link_to show_opinions_label(@opinion_weight), {:controller => 'haufens', :action => 'filter_haufen_by_opinions', :id => params[:id], :l => @l} %> 
		<% end %>
		<% if @videos_weight > 0 %>
		- <%= link_to show_videos_label(@videos_weight),  {:controller => 'haufens', :action => 'filter_haufen_by_videos', :id => params[:id], :l => @l} %> 
		<%end%>	) 
	<% end %>		
<% end %>

<%  if params[:action] == 'filter_haufen_by_opinions' %>
		 ( <%= link_to show_all_label,  { :action => 'show', :id => params[:id], :l => @l} %> 
		- <%= show_opinions_label(@opinion_weight) %>
		<% if @videos_weight > 0 %>
		- <%= link_to show_videos_label(@videos_weight),  {:controller => 'haufens', :action => 'filter_haufen_by_videos', :id => params[:id], :l => @l}  %> 
		<% end %> )
<% end %>

<%  if params[:action] == 'filter_haufen_by_videos' %>
 ( <%= link_to show_all_label,  { :action => 'show', :id => params[:id], :l => @l} %>
<% if @opinion_weight > 0 %>
 - <%= link_to show_opinions_label(@opinion_weight), {:controller => 'haufens', :action => 'filter_haufen_by_opinions', :id => params[:id], :l => @l}  %> 
<% end %> 
- <%=  show_videos_label(@videos_weight) %>
 )
<% end %>

<% unless @haufen.keywords.blank? %>
(
<% @haufen.keywords.strip.split(/\s+/).each_with_index do |k, i| -%>
<%= ' - ' unless i==0 -%>
<%= link_to k,{:controller => 'rawstories', :action => 'search', :l => @l, :q => k}%>
<% end -%>
)
<% end %>


</div>
  <%= render :partial => @haufen_stories %>

<%= will_paginate(@haufen_stories, options = {:prev_label => previous_label + '&nbsp -&nbsp', :next_label => ' &nbsp;-&nbsp; ' + next_label}) %>

<% end %>
