<li>
 	  <div class="message"><%=create_topic_slogan%></div>

 	</li>



	<div class = 'default'>
	
	<% form_tag :controller => 'topics', :action => 'create', :l => @l do -%>
	<p><label for="Search term"><%=search_term_label%></label><br>
	<%= text_field_tag :searchterms, params[:searchterms], :class => 'textfield' %></p>

	<p><%= submit_tag create_topic_label, :id => 'loginbutton', :class => 'button' %></p>
	
	<p><label for="search_language">Give me all search results everywhere in English and German:</label>
	<% if @current_user.language == 3 %>
	<%= check_box_tag 'search_language', value = '1', checked = true %></p>
	<% else %>
	<%= check_box_tag 'search_language' %></p>
	<% end %>
	<% end -%>
	</div>