<% cache ({:l => @l, :page => params[:page] || 1}) do %>

<div class = 'pagelabel'>

<%= articles_by_label @author %> <b><%= @author.name %></b>&nbsp; (	
         <% if @current_user and params[:controller] == 'users' and ['articles_by_favorite_authors','favorite_authors'].include?(params[:action]) and (params[:id].blank? or params[:id].to_i == @current_user.id)  %>
         <% s = (defined?(subscription) and subscription.author_id == author.id and subscription.user_id == @current_user.id)? subscription : @current_user.subscriptions.find_all{|s| s.author_id == @author.id}.first %>
            <%= link_to remove_from_my_authors_label, {:controller => 'subscriptions', :action => 'remove', :id => s.id, :l => @l}  %> 
         <% else %>
           <%= link_to add_to_my_authors_label, {:controller => 'subscriptions', :action => 'subscribe', :id => @author.id, :l => @l}%> 
         <% end %> -

         <%= link_to recommend_label, {:controller => 'recommendations', :action =>'recommend_author', :id =>@author.id, :l => @l}-%> )



</div>

  <%= render :partial => @rawstories_published.results -%>
<%= will_paginate(@rawstories_published, options = {:prev_label => previous_label + '&nbsp -&nbsp', :next_label => ' &nbsp;-&nbsp; ' + next_label}) %>

<% end %>
