<% if params[:action] == 'index' %>
	
  <% if logged_in? %>
	<% if @top_my_authors.size > 0 %>
		<li>
	
		<div class="pagelabel"> <%= link_to my_authors, :controller => 'subscriptions', :l => @l  %> </div>
		</li>

		<ul>
			<%= render :partial => @top_my_authors %>
		</ul>
		<br>
	<% end %>
  <%else%>
	<div class = 'message'>

		<% if @language == 2 %>
	  		<%= 'Finden Sie alle Artikel Ihrer Lieblingsautoren.' %>
			<%= link_to 'Loggen Sie sich einfach ein', :controller => 'sessions', :action => 'new', :l=>@l %>  <%= ' um Autoren zu sammeln.'  %>
		<% else %>
	 		<%= 'Find all articles by your favourite authors.' %>
			<%= link_to 'Simply login', :controller => 'sessions', :action => 'new', :l=>@l %>  <%= ' to start collecting authors.'  %>		
		<% end %>
		</div>
  <% end %>
	
<%end%>

<% cache ( {:l => @l, :page => params[:page] || 1}) do %>

		<li>
  			<div class="pagelabel"><%= selection %><%= slogan if params[:action] == 'index'%><%= date %></div>
		</li>

		<ul>
			<%= render :partial => @haufens %>
		</ul>
		<div class= "pagination" > 
			<%= will_paginate(@haufens, options = {:prev_label => previous_label + '&nbsp -&nbsp', :next_label => ' &nbsp;-&nbsp; ' + next_label}) %>
			
		</div>
		
	<% if params[:action] == 'index' %>
		
		<% if @top_opinions_haufens.size > 0 %>
		<br>
		<li>
  			<div class="pagelabel"> <%= link_to opinions_label, :action => 'opinions', :l => @l  %> </div>
		</li>
		<ul>
			<%= render :partial => @top_opinions_haufens %>
		</ul>
		<% end %>
		
		<% if @top_politics_haufens.size > 0 %>
		<br>
		<li>
  			<div class="pagelabel"> <%= link_to politics_label, :action => 'politics', :l => @l  %> </div>
		</li>
		<ul>
			<%= render :partial => @top_politics_haufens %>
		</ul>
		<% end %>

		
		<% if @top_business_haufens.size > 0 %>
		<br>
		<li>
  			<div class="pagelabel"><%= link_to business_label, :action => 'business', :l => @l  %> </div>
		</li>
		<ul>
			<%= render :partial => @top_business_haufens %>
		</ul>
		<% end %>

		
		
		<% if @top_culture_haufens.size > 0 %>
		<br>
		<li>
  		<div class="pagelabel"> <%= link_to culture_label, :action => 'culture', :l => @l  %> </div>
		</li>
		<ul>
		<%= render :partial => @top_culture_haufens %>
		</ul>
		<% end %>



		<% if @top_science_haufens.size > 0 %>
		<br>
		<li>
  		<div class="pagelabel"> <%= link_to science_label, :action => 'science', :l => @l  %> </div>
		</li>
		<ul>
		<%= render :partial => @top_science_haufens %>
		</ul>
		<% end %>

		
		
		<% if @top_technology_haufens.size > 0 %>
		<br>
		<li>
  		<div class="pagelabel"> <%= link_to technology_label, :action => 'technology', :l => @l  %> </div>
		</li>
		<ul>
		<%= render :partial => @top_technology_haufens %>
		</ul>
		<% end %>


		<% if @top_sport_haufens.size > 0 %>
		<br>
		<li>
  		<div class="pagelabel"> <%= link_to sport_label, :action => 'sport', :l => @l  %> </div>
		</li>
		<ul>
			<%= render :partial => @top_sport_haufens %>
		</ul>
		<% end %>


		<% if @top_mixed_haufens.size > 0 %>
		<br>
		<li>
  		<div class="pagelabel"> <%= link_to mixed_label, :action => 'mixed', :l => @l  %> </div>
		</li>
		<ul>
			<%= render :partial => @top_mixed_haufens %>
		</ul>
		<% end %>

		
	<% end %>

<% end %>

<% if params[:action] == 'index' %>
			
	<% if @searchterms %>			
		<% @searchterms.each do |s| %>
			
			<% cache ( {:part => 'topic', :s => s, :l => @l, :page => params[:page] || 1}) do %>			
				<% if @top_my_searchterms[s].size > 0 %>
					<% if s != nil %>
					<br>
					<li>
	  				<div class="pagelabel"> <%= link_to h(s), search_rawstories_path(:l => @l, :q => s)  %> </div>
					</li>
					<ul>
					<%= render :partial => @top_my_searchterms[s] %>
					</ul>
					<% end %>
				<% end %>
			<% end %>		
			
		<% end %>
	<% end %>
<% end %>




