<div class="pagelabel">
<% if @current_user.id == user.id -%>
  <% if params[:controller] == 'users' and params[:action] == 'profile' %>
    <%= profile_label %>
  <% end -%>
  <% if params[:controller] == 'users' and params[:action] == 'friends' %>
  <%= friends_label -%>&nbsp;(&nbsp;<%= link_to actions_label, {:controller => 'users' , :action => 'friends_actions', :l => @l}%>&nbsp;-&nbsp;<%= list_of_friends_label -%>&nbsp;)
  <% end -%>
  <% if params[:controller] == 'users' and params[:action] == 'friends_actions' %>
  <%= friends_label -%>&nbsp;(&nbsp;<%= actions_label%>&nbsp;-&nbsp;<%= link_to list_of_friends_label, {:controller => 'users', :action => 'friends'} -%>&nbsp;)
  <% end -%>

  <% if params[:controller] == 'users' and params[:action] == 'articles_by_favorite_authors' %>
  <%= my_authors -%> (  <%= articles_list_label -%> - <%= link_to authors_list_label, :controller => 'users' , :action => 'favorite_authors', :id => user.id, :l => @l -%> )
  <% end -%>
  <% if params[:controller] == 'users' and params[:action] == 'favorite_authors' %>
  <%= my_authors -%> ( <%= link_to articles_list_label, :controller => 'users' , :action => 'articles_by_favorite_authors', :id => user.id, :l => @l -%> - <%= authors_list_label -%> )
  <% end %>
<% elsif params[:controller] == 'users' and params[:action] == 'friends' and not @current_user.is_a_friend?(user) -%>
  <% name = user.fb_user.nil? ? user.name : user.fb_user.name -%> 
  <%= name %> : <%= friends_label -%>
<% else -%>
  <% name = user.fb_user.nil? ? user.name : user.fb_user.name -%> 
  <%= name %> : 
  <% if params[:controller] == 'users' and params[:action] == 'profile', :l => @l %>
  <%= profile_label %>
  <% else %>
  <%= link_to profile_label, :controller => 'users' , :action => 'profile', :id => user.id, :l => @l -%>
  <% end %> -  
  <% if params[:controller] == 'users' and params[:action] == 'friends' %>
  <%= friends_label -%>
  <% else %>
  <%= link_to friends_label, :controller => 'users' , :action => 'friends', :id => user.id, :l => @l -%>
  <% end %> -  
  <% if params[:controller] == 'users' and params[:action] == 'articles_by_favorite_authors' %>
  <%= authors_label -%> (  <%= articles_list_label -%> - <%= link_to authors_list_label, :controller => 'users' , :action => 'favorite_authors', :id => user.id, :l => @l -%> )
  <% elsif params[:controller] == 'users' and params[:action] == 'favorite_authors' %>
  <%= authors_label -%> ( <%= link_to articles_list_label, :controller => 'users' , :action => 'articles_by_favorite_authors', :id => user.id, :l => @l -%> - <%= authors_list_label -%> )
  <% else %>
  <%= link_to authors_label, :controller => 'users' , :action => 'favorite_authors', :id => user.id, :l => @l -%>
  <% end %>  
<% end %>  
</div>
