<div class="pagelabel">
<% name = user.fb_user(facebook_session).nil? ? user.name : user.fb_user(facebook_session).name -%> 
<%= name %> : 
<% if params[:controller] == 'users' and params[:action] == 'profile' %>
<%= profile_label %>
<% else %>
<%= link_to profile_label, :controller => 'users' , :action => 'profile', :id => user.id, :l => @l -%>
<% end %> -  
<% if params[:controller] == 'users' and params[:action] == 'friends' %>
<%= friends_label -%>
<% else %>
<%= link_to friends_label, :controller => 'users' , :action => 'friends', :id => user.id, :l => @l -%>
<% end %> - <br/>  
<% if params[:controller] == 'users' and params[:action] == 'favorite_authors' %>
<%= favorite_authors -%>
<% else %>
<%= link_to favorite_authors, :controller => 'users' , :action => 'favorite_authors', :id => user.id, :l => @l -%>
<% end %>  
( <% if params[:controller] == 'users' and params[:action] == 'articles_by_favorite_authors' %>
<%= articles_list_label -%>
<% else %>
<%= link_to articles_list_label, :controller => 'users' , :action => 'articles_by_favorite_authors', :id => user.id, :l => @l -%>
<% end %> )

</div>
