<%= render :partial => "user_header", :locals => {:user => @user} -%>
<% unless @user_stories.empty? -%> 
   <% @user_stories.each do |s| %>
     <%= render :partial => s, 
                :locals  => {:rawstory    => s,
   			     :show_image  => (s.rawstory_detail.image_exists rescue false), 
                             :image_src   => "/rawstories/image/#{s.id}",
                             :image_story => s}%>
   <% end %>

  <div id= "pagination" > 
  <%= will_paginate(@user_stories, options = {:prev_label => previous_label + '&nbsp -&nbsp', :next_label => ' &nbsp;-&nbsp; ' + next_label}) %>
  </div>
<% else -%>
<div class = 'message'>
<% if @current_user.id == @user.id %>
  <% if @language == 2 %>
    <%= 'Sie haben noch keine Lieblingsautoren.' %> <br> <br>
  <%= 'Klicken Sie einfach auf das ' + image_tag('plus.gif') + ' Symbol neben dem Namen eines Autors, um diesen zu Ihrer Liste hinzuzufügen. '  %>
  <% else %>
   <%= 'You don\'t have any favorite authors yet.' %> <br> <br>
  <%= 'Simply click the ' + image_tag('plus.gif') + ' symbol next to the name to add an author to your list.'  %>
  <% end %>
<% else %>
  <% if @language == 2 %>
   <%= "#{@user.facebook_user? ? @user.fb_user.name : @user.name} has not subscribed to any authors yet." -%> <br> <br>
  <% else %>
   <%= "#{@user.facebook_user? ? @user.fb_user.name : @user.name} has not subscribed to any authors yet." -%> <br> <br>
  <% end %>

<% end %>
</div>
<% end -%>
