<div class="message">
<%= facebook_login_button('use your facebook account','') -%><br/>or<br/>
Bitte geben Sie Ihre Informationen ein um sich als neuer Benutzer anzumelden.
</div>
<div class = 'default'>
<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login, :class => 'textfield' %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email, :class => 'textfield' %></p>

<p><label for="password">Passwort</label><br/>
<%= f.password_field :password, :class => 'textfield' %></p>

<p><label for="password_confirmation">Passwort bestätigen</label><br/>
<%= f.password_field :password_confirmation, :class => 'textfield' %></p>

<p><%= submit_tag 'anmelden', :id => 'loginbutton', :class => 'button' %></p>
<% end -%>
<p>or login with your Facebook account<br/>
<%= facebook_login_button -%> 
</p>

</div>
