<div class = 'pagelabel'>

<%=settings_label%>

</div>


<div class="message">

  <%form_tag settings_url(:l => @l) do -%>
    <input type="hidden" name="setting_type" value="language"/>
    <p><label for="search_language"><%=change_language_label%></label>
	<%= check_box_tag 'search_language', '1', (@current_user.language == 3) -%> </p>

	<input type="submit" value="<%=save_label%>" class="button">
  <% end -%>
<br>
  <%form_tag settings_url(:l => @l) do -%>
    <input type="hidden" name="setting_type" value="email_alerts"/>
    <p>
      <label for="search_language"><%=switch_email_alerts_label%></label>
    </p>
    <p>
      <select name="alert_type" id="alert_type">
        <optgroup label="ON">
        <%= options_for_select [['Immediately', User::Alert::IMMEDIATE],
                                                ['Daily', User::Alert::DAILY],
                                                ['Weekly', User::Alert::WEEKLY]], @current_user.alert_type -%>
        </optgroup>
        <optgroup label="OFF">
          <%= options_for_select [['Off', User::Alert::OFF]], @current_user.alert_type -%>
        </optgroup>
      </select>
    </p>
    <input type="submit" value="<%=save_label%>" class="button">
  <% end -%>

  <% if ! (@current_user.facebook_user? and facebook_session and !facebook_session.user.blank?) -%>
  <br>
  <%form_tag settings_url(:l => @l) do -%>
    <input type="hidden" name="setting_type" value="password"/>
    <p>
      <label for="login"><%=password_label%></label><br/>
      <input type="password" name="password[current]" class="textfield">
    </p>
    <p>
      <label for="login"><%=new_password_label%></label><br/>
      <input type="password" name="password[new]" class="textfield">
    </p>
    <p>
      <label for="login"><%=confirm_password_label%></label><br/>
      <input type="password" name="password[confirmation]" class="textfield">
    </p>
    <p><input type="submit" value="<%=change_password_label%>" class="button"></p>
  <% end -%>
  <% end -%>

</div>
