

<% unless @user_stories.empty? -%> 



<div class = 'pagelabel'>
<%='Meine Autoren' if @current_user.login %><%= ' (Artikel - ' %> 
<%= link_to 'Liste der Autoren)',  {:controller => 'subscriptions', :action => 'list', :l => @l} %>
</div>

    <%= render :partial => @user_stories %>

<div id= "pagination" > 
<%= will_paginate(@user_stories, options = {:prev_label => 'zurück &nbsp - &nbsp ', :next_label => ' &nbsp - &nbsp vorwärts'}) %>
</div>


<% else -%>
<div class = 'message'>
  <%= 'Sie haben noch keine Lieblingsautoren.' %> <br> <br>
<%= 'Klicken Sie einfach auf <b>[+]</b> neben dem Namen eines Autors, um diesen zu einem Ihrer <b>Lieblingsautoren</b> zu machen. '  %>
</div>
<% end -%>

