

<% unless @user_rawstories.empty? -%> 



<div class = 'pagelabel'>
<%='Artikel Ihrer Lieblingsautoren' if @current_user.login %><b><%= ' (Artikel - ' %></b> 
<%= link_to 'Liste der Autoren)',  {:controller => 'subscriptions', :action => 'list'} %>
</div>

    <%= render :partial => @user_rawstories %>

<div id= "pagination" > 
<%= will_paginate(@user_rawstories, options = {:prev_label => 'zurück &nbsp - &nbsp ', :next_label => ' &nbsp - &nbsp vorwärts'}) %>
</div>


<% else -%>
<div class = 'message'>
  <%= 'Sie haben noch keine Lieblingsautoren.' %> <br> <br>
<%= 'Klicken Sie einfach auf <b>[+]</b> neben dem Namen eines Autors, um diesen zu einem Ihrer <b>Lieblingsautoren</b> zu machen. '  %>
</div>
<% end -%>

