<br>
<div id= "filter">
<%= link_to 'Show articles',  {:controller => 'subscriptions', :action => 'index'} %>
<b><%= '- showing list of authors' %></b> 

</div>


<% unless @subscriptions.empty? -%>

<%= 'Your favorite authors' %>

<br><br>
<%= render :partial => @subscriptions %>

<% else -%>
  <%= 'You don\'t have any favorite authors.' %>

<% end -%>

