<br>
<div id= "filter">
<%= link_to 'Artikel zeigen',  {:controller => 'subscriptions', :action => 'index'} %>
<b><%= '- Liste der Autoren' %></b> 

</div>


<% unless @subscriptions.empty? -%>

<%= 'Ihre Lieblingsautoren' %>

<br><br>
<%= render :partial => @subscriptions %>

<% else -%>
  <%= 'Sie haben noch keine Lieblingsautoren.' %>

<% end -%>

