





<div class="pagelabel">
<% unless @subscriptions.empty? -%>

<%= 'Meine Autoren' %><%= link_to ' (Artikel',  {:controller => 'subscriptions', :action => 'index', :l => @l} %>
<%= '- Liste der Autoren)' %>

</div>

<span class = 'message'>
<%= render :partial => @subscriptions %>
</span>
<% else -%>
  <%= 'Sie haben noch keine Lieblingsautoren.' %>
</div>
<% end -%>
