





<div class="pagelabel">
<% unless @subscriptions.empty? -%>

<%= 'Ihre Lieblingsautoren' %><%= link_to ' (Artikel',  {:controller => 'subscriptions', :action => 'index'} %>
<b><%= '- Liste der Autoren)' %></b>

</div>

<span class = 'headline'>
<%= render :partial => @subscriptions %>
</span>
<% else -%>
<div class = 'message'>
  <%= 'Sie haben noch keine Lieblingsautoren.' %>
</div>
<% end -%>
