<ul style="margin:0;">
  <li>
    <% div_for(rawstory) do %>
      <div class="rawstory">
      <% if defined?(show_image) and show_image == true and defined?(image_src) and not image_src.blank?%>
        <div style="float:left;width:307px;margin-right:62px;">
      <% end %>
        <div class="headline">
          <%= image_tag('opinion.gif') if rawstory.opinion == 1 %>
          <%= image_tag('video.gif') + ' ' if rawstory.video == true %> 
          <span onMouseOver="this.getElementsByTagName('span')[0].style.display='';" onMouseOut="this.getElementsByTagName('span')[0].style.display='none';">
            <%= link_to rawstory.title, rawstory.link, { :popup => 'new_tab' } %>&nbsp;&nbsp;<span id="read_list_option_<%= rawstory.id %>" style="display:none;position:absolute;" onMouseOver="this.getElementsByTagName('div')[0].style.display='';" onMouseOut="this.getElementsByTagName('div')[0].style.display='none';">
               <% if params[:controller] == 'read_list' and params[:action] == 'show' %>
               &nbsp;<%= image_tag('minus.gif') %>&nbsp;
               <% else %>
               &nbsp;<%= image_tag('plus.gif') %>&nbsp;
               <% end %>
               <div class="actionsBox" style="display:none;margin-top:-6px;" name="rawStoryActionsBox">
                 <div style="margin-bottom:10px;">
                   <% if defined?(read_item) and !read_item.nil?%>
                     <%= link_to remove_from_read_list_label, {:controller => 'read_list', :action => 'remove_item', :id => read_item.id, :l => @l} -%>
                   <% else %>
                     <%= link_to save_to_read_list_label, {:controller => 'read_list', :action => 'add_item', :id => rawstory.id, :l => @l} -%> 
                   <% end %>
                 </div>
                 <div style="margin-bottom:10px;">
                   <%= link_to share_label, {:controller => 'recommendations', :action =>'recommend_article', :id =>rawstory.id, :l => @l}-%>
                 </div>
               </div>
            </span>
          </span>
        </div>
        <div class="datestamp">
          <span class="source"><%= (defined?(source) and not source.blank?) ? source.website : rawstory.source.website %></span> - 
          <% rawstory_author = (defined?(author) and not author.blank?) ? author : rawstory.author %>
          <% if rawstory_author.name != '' %>
            <% unless params[:controller] == 'authors' %>
              <span class="author">
                <%= render :partial => rawstory_author, :locals =>{:no_spacer => true, :no_style => true} %>
              </span>&nbsp;-&nbsp;
            <% end %>
          <% end %>
          <%= peterson rawstory %>

          <% unless defined?(hide_extra) and hide_extra == true %>
            <br/>
			<% unless params[:controller] == 'groups' %>
            <div class="cluster">
              <span class="source">
                <% if rawstory.haufen && rawstory.haufen.weight > 1 && params[:controller] != 'haufens' %>
                  <%= link_to haufen_label(rawstory), :controller => 'haufens', :action => 'show', :id => rawstory.haufen, :l => @l %> 
                  <% unless rawstory.haufen.videos == nil %>
                    <% if rawstory.haufen.videos > 0 %>
                  - 	<%= link_to video_label(rawstory), :controller => 'haufens', :action => 'filter_haufen_by_videos', :id => rawstory.haufen, :l => @l %> 	
                    <% end %>
                  <%end%>	
                <% end %>
              </span>
            </div>
			<% end %>
          <% end %>
        </div>
      <% if defined?(show_image) and show_image == true and defined?(image_src) and not image_src.blank?%>
        </div>
        <div style="float:left; width:80px;margin-top:5px;">
          <a href="<%= image_story.link%>">
            <img src="<%= image_src %>"/><br/>
            <div title="<%= image_story.source.name.split('www.').join %>" style="color:#999999;font-size:12px;width:80px;overflow:hidden;text-align:center;word-wrap:break-word;"><%= image_story.source.name.split('www.').join %></div>
          </a>
        </div>
        <div style="clear:both"></div>
      <% end %>

      </div>
    <% end %>
  </li>
</ul>
