<li>
<% div_for(rawstory) do %>

<div class="rawstory">
<div class="headline">


<%= image_tag('opinion.gif') if rawstory.opinion == 1 %> <%= image_tag('video.gif') + ' ' if rawstory.video == true %> 
<span onMouseOver="this.getElementsByTagName('span')[0].style.display='';" onMouseOut="this.getElementsByTagName('span')[0].style.display='none';">
  <%= link_to rawstory.title, rawstory.link, { :popup => 'new_tab' } %>
  <span id="read_list_option_<%= rawstory.id %>" style="display:none;">
  <% if defined?(read_item) and !read_item.nil?%>
    <%= link_to image_tag('minus.gif'), {:controller => 'read_list', :action => 'remove_item', :id => read_item.id, :l => @l}, {:title => remove_from_read_list_label} -%>
  <% else %>
    <%= link_to image_tag('plus.gif'), {:controller => 'read_list', :action => 'add_item', :id => rawstory.id, :l => @l},{:title => save_to_read_list_label} -%> 
  <% end %>
  </span>
</span>


</div>


<div class="datestamp">
<span class="source"><%= rawstory.source.website %></span> - 
<% if rawstory.author.name != '' %>
<% unless params[:controller] == 'authors' %>
<span class="author"><%= link_to rawstory.author.name, :controller => 'authors', :action => 'show', :id => rawstory.author, :l => @l %> </span> 

<% if logged_in? %>
<%= link_to image_tag('plus.gif'), :controller => 'subscriptions', :action => 'subscribe', :id => rawstory.author.id, :l => @l if rawstory.author.name != '' && params[:controller] != 'subscriptions'  %> 

<%= link_to image_tag('minus.gif'), :controller => 'subscriptions', :action => 'remove', :id => @current_user.subscriptions.find_by_author_id(rawstory.author.id), :l => @l if rawstory.author.name != '' && params[:controller] == 'subscriptions'  %> <%= ' - ' if rawstory.author.name != '' %>


<% else %>

<%= link_to image_tag('plus.gif'), :controller => 'subscriptions', :action => 'subscribe', :id => rawstory.author.id, :l => @l if rawstory.author.name != '' %> <%= ' - ' if rawstory.author.name != '' %>

<% end %>
<% end %>
<% end %>


<%= peterson rawstory %>
<br>
<div class="cluster">
	<span class="source">
	

<% if rawstory.haufen && rawstory.haufen.weight > 1 && params[:controller] != 'haufens' %>
<%= link_to haufen_label(rawstory), :controller => 'haufens', :action => 'show', :id => rawstory.haufen, :l => @l %> 
<% unless rawstory.haufen.videos == nil %>
	<% if rawstory.haufen.videos > 0 %>
- 	<%= link_to video_label(rawstory), :controller => 'haufens', :action => 'filter_haufen_by_videos', :id => rawstory.haufen, :l => @l %> 	
	<% end %>
  <%end%>	
<% end %>

</span>
</div>

</div>
</div>



<% end %>
</li>
