<li>
<% div_for(rawstory) do %>

<div class="datestamp">

<% if rawstory.author.name != '' %>

<span class="author"><%= link_to rawstory.author.name, :controller => 'authors', :action => 'show', :id => rawstory.author, :l => @l %> </span> 

<% if logged_in? %>
<%= link_to image_tag('add.gif'), :controller => 'subscriptions', :action => 'subscribe', :id => rawstory.author.id, :l => @l if rawstory.author.name != '' && params[:controller] != 'subscriptions'  %> 

<%= link_to '[-]', :controller => 'subscriptions', :action => 'remove', :id => @current_user.subscriptions.find_by_author_id(rawstory.author.id), :l => @l if rawstory.author.name != '' && params[:controller] == 'subscriptions'  %> <%= ' - ' if rawstory.author.name != '' %>


<% else %>

<%= link_to image_tag('add.gif'), :controller => 'subscriptions', :action => 'subscribe', :id => rawstory.author.id, :l => @l if rawstory.author.name != '' %> <%= ' - ' if rawstory.author.name != '' %>

<% end %>
<% end %>


<span class="source"><%= rawstory.source.website %></span> - 
<%= peterson rawstory %>

</div>

<div class="headline">

 <%= link_to rawstory.title, rawstory.link %><font color =#999> <%= ' ' + opinion_label if rawstory.opinion == 1 %></font>

<span class="cluster">


<%= ' - ' if rawstory.haufen && rawstory.haufen.weight > 1 && params[:controller] != 'haufens' %>
<%= link_to haufen_label(rawstory), :controller => 'haufens', :action => 'show', :id => rawstory.haufen, :l => @l if rawstory.haufen && rawstory.haufen.weight > 1 && params[:controller] != 'haufens' %>

</span>
</div>

<% end %>
</li>