<%= stylesheet_link_tag 'style' %>

<p>

<div id= "filter">
<b><%= 'alle Artikel - ' if @current_user.filter != 1 %></b> 
<%= (link_to 'zeige Meinungen',  {:controller => 'rawstories', :action => 'filter_by_opinions'}) if @current_user.filter != 1 %>

<%= link_to 'Zeige alle Artikel',  {:controller => 'rawstories', :action => 'show_all'} if @current_user.filter == 1 %>
<b><%= ' - nur Meinungen'  if @current_user.filter == 1 %></b>
</div>

Suchergebnisse für <b>'<%= @current_user.query %>'</b>
     
<% unless @rawstories.empty? -%> 

</p>
<p>

    <%= render :partial => @rawstories %>
</p>
<div id= "pagination" > 
<%= will_paginate(@rawstories) %>
</div>
<% else -%>
  <p><%= 'Keine Artikel gefunden.' if @current_user.filter == 0 %>
<%= 'Keine <b>Meinungen</b> gefunden.' if @current_user.filter == 1 %>
</p>
<% end -%>






