<%= stylesheet_link_tag 'style' %>


<% unless @rawstories.empty? -%> 
<div class="pagelabel">
<%= search_results if params[:action] == 'search' %> <%= opinion_results if params[:action] == 'filter_by_opinions' %> <b> '<%= h(params[:q]) %>'
</b>
<% if @opinion_weight > 0 %> 
<% if params[:action] == 'search' %>

<%= ' ('+ show_all_label + ' - '  %> 
<%= (link_to show_opinions_label(@opinion_weight) + ')',  {:controller => 'rawstories', :action => 'filter_by_opinions', :q => params[:q], :l => @l}) %>
<% end %>
<% if params[:action] == 'filter_by_opinions' %>
<%= link_to ' ('+ show_all_label,  {:controller => 'rawstories', :action => 'search', :q => params[:q], :l => @l} %>
<%= ' - ' + show_opinions_label(@opinion_weight) + ')' %>
<% end %>
<% end %>

</div>



    <%= render :partial => @rawstories %>

<div class= "pagination" > 
<%= will_paginate(@rawstories, options = {:prev_label => previous_label + ' &nbsp - &nbsp ', :next_label => ' &nbsp - &nbsp ' + next_label}) %>
</div>
<br>
<% else -%>
<div class = 'message'>
<% if @language == 2 %>
<p> Keine Artikel zu <b>'<%= h(params[:q])%>' </b> gefunden. 
<% else %>
<p> No articles found for <b>'<%= h(params[:q])%>' </b>. 
<% end %>
</p>
</div>
<% end -%>






