<%= stylesheet_link_tag 'style' %>

<div id= "filter">
<b><%= 'alle Artikel - ' if params[:action] == 'search'%></b> 
<%= (link_to 'Meinungen zeigen',  {:controller => 'rawstories', :action => 'filter_by_opinions', :q => params[:q]}) if params[:action] == 'search' %>

<%= link_to 'alle Artikel zeigen',  {:controller => 'rawstories', :action => 'search', :q => params[:q]} if params[:action] == 'filter_by_opinions' %>
<b><%= ' - Meinungen'  if params[:action] == 'filter_by_opinions' %></b>
</div>


<p>

Suchergebnisse für <b>'<%= params[:q] %>'</b>
  
<% unless @rawstories.empty? -%> 

</p>
<p>

    <%= render :partial => @rawstories %>
</p>
<div id= "pagination" > 
<%= will_paginate(@rawstories) %>
</div>
<br>
<% else -%>
  <p><%= 'Keine Artikel gefunden.' if @filter == 0 %>
<%= 'Keine <b>Meinungen</b> gefunden.' if @filter == 1 %>
</p>
<% end -%>






