<%= stylesheet_link_tag 'style' %>


<% unless @rawstories.empty? -%> 
<div class="pagelabel">
<%= 'Suchergebnisse für ' if params[:action] == 'search' %> <%= ' Meinungen zu ' if params[:action] == 'filter_by_opinions' %> <b> '<%= h(params[:q]) %>'
</b>

<%= ' (alle Artikel - ' if params[:action] == 'search' && @opinion_weight > 0 %> 
<%= (link_to @opinion_weight.to_s + ' Meinungen)',  {:controller => 'rawstories', :action => 'filter_by_opinions', :q => params[:q]}) if params[:action] == 'search' && @opinion_weight > 1 %>
<%= (link_to '1 Meinung)',  {:controller => 'rawstories', :action => 'filter_by_opinions', :q => params[:q]}) if params[:action] == 'search' && @opinion_weight == 1 %>

<%= link_to ' (alle Artikel',  {:controller => 'rawstories', :action => 'search', :q => params[:q]} if params[:action] == 'filter_by_opinions' %>
<%= ' - ' + @opinion_weight.to_s + ' Meinungen)' if params[:action] == 'filter_by_opinions' && @opinion_weight > 1 %>
<%= ' - 1 Meinung)' if params[:action] == 'filter_by_opinions' && @opinion_weight == 1 %>


</div>



    <%= render :partial => @rawstories %>

<div class= "pagination" > 
<%= will_paginate(@rawstories, options = {:prev_label => 'zurück &nbsp - &nbsp ', :next_label => ' &nbsp - &nbsp vorwärts'}) %>
</div>
<br>
<% else -%>
<div class = 'message'>
  <p> Keine Artikel zu <b>'<%= h(params[:q])%>' </b> gefunden. 
</p>
</div>
<% end -%>






