<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="en" lang="en">
<%= stylesheet_link_tag 'style' %>
<title> jurnalo </title>
  <head>
		<br>
		<div id="login_logout">
	        <% if logged_in? %>
	          Eingeloggt als:
	          <%= @current_user.login %><em> <%= link_to "(ausloggen)", session_path, :method => :delete %></em>
	        <% else %>
	          <em>Nicht eingeloggt.</em>
	          <%= link_to 'Einloggen', :controller => 'sessions', :action => 'new' %>
	        <% end %>
	      </div>
		
	
			<list id="navigation">
				<b><%= link_to 'jurnalo', groups_path %>  -
				<%= (link_to 'Lieblingsautoren' , subscriptions_path) %></b>
				</list>
				
						
				

    <% form_tag search_rawstories_path, :method => :get do -%>
	<div id="search">
		<br>
        <%= text_field_tag :q, params[:q], :class => 'text' %>

        <%= submit_tag 'Suche', :class => 'button' %>
      </div>
    <% end -%>

		<p>
		<list id="group_navigation">
		<% if params[:action] == 'index' %> 
		<b><%= 'Schlagzeilen'  %></b> -
		<% else %> 
		<%= link_to 'Schlagzeilen', :controller => 'groups', :action => 'index'  %>  -
		<% end %>

		<% if params[:action] == 'politics' %> 
		<b><%= 'Politik'  %></b> -
		<% else %> 
		<%= link_to 'Politik', :controller => 'groups', :action => 'politics'  %>  -
		<% end %>

		<% if params[:action] == 'business' %> 
		<b><%= 'Wirtschaft'  %></b> -
		<% else %> 
		<%= link_to 'Wirtschaft', :controller => 'groups', :action => 'business'  %>  -
		<% end %>

		<% if params[:action] == 'culture' %> 
		<b><%= 'Feuilleton'  %></b> -
		<% else %> 
		<%= link_to 'Feuilleton',:controller => 'groups', :action => 'culture'  %>  -
		<% end %>

		<% if params[:action] == 'science' %> 
		<b><%= 'Wissen'  %></b> -
		<% else %> 
		<%= link_to 'Wissen', :controller => 'groups', :action => 'science'  %>  -
		<% end %>

		<% if params[:action] == 'technology' %> 
		<b><%= 'Technik'  %></b> -
		<% else %> 
		<%= link_to 'Technik', :controller => 'groups', :action => 'technology'  %>  -
		<% end %>

		<% if params[:action] == 'sport' %> 
		<b><%= 'Sport'  %></b> -
		<% else %> 
		<%= link_to 'Sport', :controller => 'groups', :action => 'sport'  %> -
		<% end %>

		<% if params[:action] == 'mixed' %> 
		<b><%= 'Vermischtes'  %></b> -
		<% else %> 
		<%= link_to 'Vermischtes', :controller => 'groups', :action => 'mixed'  %> -
		<% end %>

		<% if params[:action] == 'opinions' %> 
		<b><%= 'Kommentare'  %></b>
		<% else %> 
		<b><%= link_to 'Kommentare', :controller => 'groups', :action => 'opinions'  %></b>
		<% end %>






		</list>

		</p>

	</head>
<body>
 <div id="content">
	<p style="color: green"><%= flash[:notice] %></p>
	<p style="color: #990000"><%= flash[:alert] %></p>
	<%= yield %>
</body> 
</html>