<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  <head>
    <xml:lang="en" lang="en">



<title>jurnalo</title>
<%= stylesheet_link_tag 'style' %>




<title> jurnalo </title>
	</head>
	<body>
		
		
		<% form_tag search_rawstories_path(:l => @l), :method => :get do -%>
		<div class ="search">

	        <%= text_field_tag :q, params[:q],  :id => 'searchfield', :class =>"text" %>
			<%= submit_tag search_label, :id => 'searchbutton', :class => 'button', :name => nil %>

	      </div>
	    <% end -%>
		<div class="header">
		
		<div class="profile">
			<% if logged_in? %>
			<%= (link_to 'Feedback [+]' , :controller => 'about', :action => 'feedback', :l => @l) %>&nbsp;-&nbsp; <% end %>
			<% if params[:controller] == 'subscriptions'  %> 
				<span class="selected"><%= my_authors  %></span> 
				<% else %> 
				<%= link_to my_authors, :controller => 'subscriptions', :l => @l  %> 
				<% end %>&nbsp;-&nbsp;
	        <% if logged_in? %>
	          <%= h(@current_user.login) %><em> <%= link_to logout_label, session_path(:l => @l), :method => :delete %></em>
	        <% else %>
	          <%= link_to login_label, :controller => 'sessions', :action => 'new', :l=>@l %>
	        <% end %>
	      </div>
		</div>
	
			<div class ="logo">
				<%= link_to image_tag('logo.gif'), :controller => 'groups', :l => @l%>
				</div>
				
						
				


		<div class ="navigation">
			<ul>
	<li>	<% if params[:action] == 'index' && params[:controller] == 'groups'%> 
		<span class="selected"><%= topstories_label  %></span> 
		<% else %> 
		<span class="unselected">
			<%= link_to topstories_label, :controller => 'groups', :action => 'index', :l => @l  %> </span>
		<% end %></li>

	<li>	<% if params[:action] == 'politics' %> 
		<span class="selected"><%= politics_label  %></span> 
		<% else %> 
		<span class="unselected">
		<%= link_to politics_label, :controller => 'groups', :action => 'politics', :l => @l %>  </span>
		<% end %></li>

	<li>	<% if params[:action] == 'business' %> 
		<span class="selected"><%= business_label  %></span>  
		<% else %> 
		<span class="unselected">
		<%= link_to business_label, :controller => 'groups', :action => 'business', :l => @l  %>  </span>
		<% end %></li>

	<li>	<% if params[:action] == 'culture' %> 
		<span class="selected"><%= culture_label  %></span> 
		<% else %> 
		<span class="unselected">
		<%= link_to culture_label,:controller => 'groups', :action => 'culture', :l => @l  %>  </span>
		<% end %></li>

	<li>	<% if params[:action] == 'science' %> 
		<span class="selected"><%= science_label  %></span>  
		<% else %> 
		<span class="unselected">
	<%= link_to science_label, :controller => 'groups', :action => 'science', :l => @l  %>  </span>
		<% end %></li>

	<li>	<% if params[:action] == 'technology' %> 
		<span class="selected"><%= technology_label  %></span>  
		<% else %> 
		<span class="unselected">
		<%= link_to technology_label, :controller => 'groups', :action => 'technology', :l => @l %>  </span>
		<% end %></li>

	<li>	<% if params[:action] == 'sport' %> 
		<span class="selected"><%= sport_label  %></span>  
		<% else %> 
		<span class="unselected">
	<%= link_to sport_label, :controller => 'groups', :action => 'sport', :l => @l  %> </span>
		<% end %></li>

	<li>	<% if params[:action] == 'mixed' %> 
	<span class="selected"><%= mixed_label  %></span>  
		<% else %> 
		<span class="unselected">
		<%= link_to mixed_label, :controller => 'groups', :action => 'mixed', :l => @l  %> </span>
		<% end %></li>

	<li>	<% if params[:action] == 'opinions' %> 
		<span class="selected"><%= opinions_label  %></span> 
		<% else %> 
		<span class="unselected">
		<%= link_to opinions_label, :controller => 'groups', :action => 'opinions', :l => @l  %> </span>
		<% end %></li>



		</ul>


		</list>
</div>
	

<div class="headlines">
  <ul>
 <div id="content">
	<div class = 'message'>
	<p><%= flash[:notice] %></p>
	<p style="color: #0000C8"><%= flash[:alert] %></p>
	<%= yield %>
 </div>
</ul>
</div>
<div id="footer">
	©2008 - <%= link_to imprint_label, :controller => 'about', :action => 'imprint', :l => @l  %> - <%= link_to privacy_label, :controller => 'about', :action => 'privacy', :l => @l  %>
	</div>
</body>
</html>