<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="en" lang="en">
<%= stylesheet_link_tag 'style' %>
<title> jurnalo </title>
  <head>
		<br>
		<div id="login_logout">
	        <% if @current_user.login %>
	          Logged in as:
	          <%= @current_user.login %><em> <%= link_to "(logout)", session_path, :method => :delete %></em>
	        <% else %>
	          <em>Not logged in.</em>
	          <%= link_to 'Login', :controller => 'sessions', :action => 'new' %>
	        <% end %>
	      </div>
	
			<list id="navigation">
				<b><%= link_to 'jurnalo', rawstories_path %> - <%= (link_to 'favorite authors' , subscriptions_path) %> </b>
				</list>

    <% form_tag search_rawstories_path, :method => :get do -%>
	<div id="search">
		<br>
        <%= text_field_tag :q, params[:q], :class => 'text' %>

        <%= submit_tag 'Search', :class => 'button' %>
      </div>
    <% end -%>
	</head>
<body>
 <div id="content">

	<%= yield %>
</body> 
</html>