<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  <head>
    <xml:lang="en" lang="en">



<title>jurnalo</title>
<%= stylesheet_link_tag 'iui' %>

	</head>
	<body>
		

	

	
			<div class ="logo">
				<%= link_to image_tag('logo.gif'), :controller => 'groups', :l => @l%>
				</div>
				
						
				




<% form_tag search_rawstories_path(:l => @l), :method => :get do -%>
<div class ="search">
<div>
    <%= text_field_tag :q, params[:q],  :id => 'searchfield', :class =>"text" %>
	<%= submit_tag search_label, :id => 'searchbutton', :class => 'button', :name => nil %>
</div>

<% end -%>


<div class="profile">
	
	
	<% if params[:controller] == 'subscriptions'  %> 
		<span class="selected"><%= my_authors  %></span> 
		<% else %> 
		<%= link_to my_authors, :controller => 'subscriptions', :l => @l  %> 
		<% end %>&nbsp;-&nbsp;
    <% if logged_in? %>

	<% if params[:controller] == 'subscriptions'  %> 
		 <%='Email alerts'%>
		<% if @current_user.alerts == true %>
		<em><%= link_to unsubscribe_label, {:controller => 'subscriptions', :action => 'stop_alerts', :l => @l}%></em> &nbsp;-&nbsp;
		<%else%>
		<%= link_to subscribe_label, {:controller => 'subscriptions', :action => 'get_alerts', :l => @l}%> &nbsp;-&nbsp;
		<%end%>
	<%end%>
	<%end%>
	
	<% if params[:action] == 'create_topic' %> 
		<span class="selected"><%= create_topic  %></span>  
	<% else %> 
		<span class="unselected">
		<%= link_to create_topic, :controller => 'topics', :action => 'new', :l => @l  %> </span>
	<% end %>
		
	&nbsp;-&nbsp; 
	<% if logged_in? %>
	<%= (link_to 'Feedback [+]' , :controller => 'about', :action => 'feedback', :l => @l) %>	&nbsp;-&nbsp; 
      <%= h(@current_user.login) %><em> <%= link_to logout_label, session_path(:l => @l), :method => :delete %></em>
    <% else %>
      <%= link_to login_label, :controller => 'sessions', :action => 'new', :l=>@l %>
    <% end %>
	
	
  </div>
  </div>



<div class="headlines">
  <ul>
 <div id="content">
	<div class = 'message'>
	<p><%= flash[:notice] %></p>
	<p style="color: #0000C8"><%= flash[:alert] %></p>
	<%= yield %>
 </div>
</ul>
</div>


<div id="footer">
	<div id="google_ad_bottom_left">
		<script type="text/javascript"><!--
		google_ad_client = "pub-0643230471169917";
		/* 728x90, created 12/2/08 */
		google_ad_slot = "1444495826";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

	
	
	©2008 - <%= link_to imprint_label, :controller => 'about', :action => 'imprint', :l => @l  %> - <%= link_to privacy_label, :controller => 'about', :action => 'privacy', :l => @l  %> - <%= link_to 'English edition', 'http://www.jurnalo.com' if @language == 2  %>
	
	</div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-6270445-1");
	pageTracker._trackPageview();
	</script>
	
</body>
</html