<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta name="verify-v1" content="uktXEFRkC4oLS3pjPi7ZkolIVksbOF8D7PRiyCDs+fM=" />
    <title> <%= title_label %></title>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <% if logged_in? or ['users', 'sessions'].include?(params[:controller]) -%>
      <%= fb_connect_javascript_tag %>
      <% if params[:controller] == 'users' and ['link_user_accounts','friends','friends_actions'].include?(params[:action]) %>
        <%= init_wrapper true, "XFBML"%>
      <% else -%>
        <%= init_fb_connect "XFBML"%>
      <% end -%>
    <% end -%>
    <div class="sidebar">
      <div class ="logo"><%= link_to image_tag('logo.gif'), :controller => 'groups', :l => @l%></div>
      <div class ="navigation">
        <ul>
          <li>	
            <% if params[:action] == 'index' && params[:controller] == 'groups' %> 
              <span class="selected"><%= topstories_label  %></span> 
            <% else %> 
              <span class="unselected"><%= link_to topstories_label, :controller => 'groups', :action => 'index', :l => @l  -%></span>
            <% end %>
          </li>
          <li>
            <% if params[:action] == 'politics' %> 
              <span class="selected"><%= politics_label  %></span> 
            <% else %> 
              <span class="unselected"><%= link_to politics_label, :controller => 'groups', :action => 'politics', :l => @l %></span>
            <% end %>
          </li>
          <li>
            <% if params[:action] == 'business' %> 
              <span class="selected"><%= business_label  %></span>  
            <% else %> 
            <span class="unselected"><%= link_to business_label, :controller => 'groups', :action => 'business', :l => @l  %></span>
            <% end %>
          </li>
          <li>
            <% if params[:action] == 'culture' %> 
              <span class="selected"><%= culture_label  %></span> 
            <% else %> 
              <span class="unselected"><%= link_to culture_label,:controller => 'groups', :action => 'culture', :l => @l  %>  </span>
            <% end %>
          </li>
          <li>	
            <% if params[:action] == 'science' %> 
              <span class="selected"><%= science_label  %></span>  
            <% else %> 
            <span class="unselected"><%= link_to science_label, :controller => 'groups', :action => 'science', :l => @l  %></span>
            <% end %>
          </li>
          <li>	
            <% if params[:action] == 'technology' %> 
              <span class="selected"><%= technology_label  %></span>  
            <% else %> 
              <span class="unselected"><%= link_to technology_label, :controller => 'groups', :action => 'technology', :l => @l %></span>
            <% end %>
          </li>
          <li>
            <% if params[:action] == 'sport' %> 
              <span class="selected"><%= sport_label  %></span>  
            <% else %> 
              <span class="unselected"><%= link_to sport_label, :controller => 'groups', :action => 'sport', :l => @l  %> </span>
            <% end %>
          </li>
          <li>
            <% if params[:action] == 'mixed' %> 
              <span class="selected"><%= mixed_label  %></span>  
            <% else %> 
              <span class="unselected"><%= link_to mixed_label, :controller => 'groups', :action => 'mixed', :l => @l  %></span>
            <% end %>
          </li>
          <li>
            <% if params[:action] == 'opinions' %> 
              <span class="selected"><%= opinions_label  %></span>  
            <% else %> 
              <span class="unselected"><%= link_to opinions_label, :controller => 'groups', :action => 'opinions', :l => @l  %></span>
            <% end %>
          </li>

        </ul>
      </div>
    </div>	
    <div class ="search">
      <% form_tag search_rawstories_path(:l => @l), :method => :get do -%>
      <div>
        <%= text_field_tag :q, params[:q],  :id => 'searchfield', :class =>"text" %>
        <%= submit_tag search_label, :id => 'searchbutton', :class => 'button', :name => nil %>
      </div>
      <% end -%>
      <div class="profile">
        <% if logged_in? == false -%>
          <div style="float:left;;margin-left:2px;">
            <div style="height:18px;">
              <%= link_to login_label, :controller => 'sessions', :action => 'new', :l=>@l %>&nbsp;-&nbsp;

              <%= link_to my_authors, :controller => 'subscriptions', :l => @l  %>&nbsp;-&nbsp;
              <%= link_to read_list_label, {:controller => "read_list", :action => "show",:l => @l} -%>
            </div>
          </div>
        <% else -%>
          <%if @current_user.facebook_user? %>
            <div style="float:left;width:40px;">
            <%= fb_profile_pic(@current_user.fb_user, {:height => '35px', :facebook_logo => true})%>&nbsp;
            </div>
          <% end %>
          <div style="float:left;margin-left:2px;">
            <div style="height:18px;">
              <% if @current_user.facebook_user? and @current_user.fb_user %>
                <%= h(truncate(@current_user.fb_user.name,15)) -%>
              <% else %>
                <%= h(truncate(@current_user.name,15)) -%>
              <% end %>
              <script>
              function rescuedLogout(){
                  FB.Connect.ifUserConnected(function(){FB.Connect.logoutAndRedirect('/logout?l=<%= @l -%>')}, '/logout?l=<%= @l -%>');
              }
              </script>
              <% if facebook_session %>
                <em><a href="#" onclick='rescuedLogout();'><%= logout_label -%></a></em>
              <% else %>
                <em><%= link_to logout_label, session_path(:l => @l), :method => :delete %></em>
              <% end %>
              <%if !@current_user.facebook_user? %>
               &nbsp;-&nbsp;<%= facebook_login_button -%> 
              <% end %>&nbsp;-&nbsp;
              <% if params[:controller] == 'users' and params[:action] == 'settings' and (params[:id].blank? or @current_user.id == params[:id].to_s) %> 
                <span class="selected"><%= settings_label  %></span>
              <% else %>
                <%= link_to settings_label, settings_url(:l => @l) -%>
              <% end %>
            </div>
            <div style="padding-top:3px;">
           
              <% if params[:controller] == 'users' and params[:action] ==  'articles_by_favorite_authors' and (params[:id].blank? or @current_user.id == params[:id].to_s) %> 
                 <span class="selected"><%= my_authors  %></span> 
              <% else %> 
                <%= link_to my_authors, :controller => 'users', :action => 'articles_by_favorite_authors',:l => @l  %> 
              <% end %>&nbsp;-&nbsp;
              <% if params[:controller] == 'read_list'  %> 
                <span class="selected"><%= read_list_label  %></span> 
              <% else %>
                <%= link_to read_list_label, {:controller => "read_list", :action => "show",:l => @l} -%>
              <% end %>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
    <div class="container">
      <% if flash[:notice] or flash[:alert] %>
        <div class="message">
          <% if flash[:notice] %>
          <span><%= flash[:notice] %></span>
          <% end %>
          <% if flash[:alert] %>
          <span style="color: #0000C8"><%= flash[:alert] %></span>
          <% end %>
        </div>
      <%end%>
      <% if (params[:action] == 'index' and params[:controller] == 'groups') or (['profile', 'friends', 'friends_actions','invite_fb_friends'].include?(params[:action]) and params[:controller] == 'users') or ['recommendations', 'notifications'].include?(params[:controller])-%>
         <%= yield -%>
      <% else -%>
        <ul class="module">
          <%= yield %>
        </ul>
      <%end%>
    </div>
    <div id="footer">
      <% unless params[:controller] == 'groups' and params[:action] == 'index' %>
      <%= render :partial => '/layouts/google_ad' %>
      <% end -%>
      ©2009 &nbsp; <%= link_to imprint_label, :controller => 'about', :action => 'imprint', :l => @l  %> - <%= link_to privacy_label, :controller => 'about', :action => 'privacy', :l => @l  %> - <% if @language == 2  %><%= link_to 'English edition', 'http://www.jurnalo.com' %> <%else%> <%= link_to 'jurnalo.de', 'http://www.jurnalo.com/?l=d' %> <%end%> - <%= link_to author_link_label, :controller => 'site_map', :action => 'authors', :l => @l%>
      <% if logged_in? %> - <%= (link_to 'Feedback [+]' , :controller => 'about', :action => 'feedback', :l => @l) %> <% end %>

    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-6270445-1");
      pageTracker._trackPageview();
    </script>
  </body>
</html>
